table {
	margin: 0 0 1.5em;
	width: 100%;
	@include font-size(0.8);

	@media #{$resolution__netbook} { 
		@include font-size(0.7);
	}
}

th {
	background-color: $astro__yellow;
}

th,
td {
	padding: 12px;
    border: 1px solid $astro__yellowdark;
	
	@media #{$resolution__netbook} { 
		padding: 5px;
	}
}

td {
	text-align: center;

	&:first-of-type {
		text-align: left;
	}

	a {
		margin-left: 1em;

		&:first-child {
			margin-left: 0;
		}
	}
}
