$elijah__snow: #fff; 
$ashes: #555;
$mist: #aaa;
$starless: #000;

$astro__green: #58a848;
$astro__greenlight: #b0d050;
$astro__greendark: #406030;
$astro__yellow: #efc83f;
$astro__yellowdark: #D8AC16;