$font__main: 'Roboto', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$light: 300;
$normal: 400;
$bold: 700;

$line-height__same: 1;
$line-height__short: 1.2;
$line-height__normal: 1.5;
$line-height__extra: 1.6;