a {
	text-decoration: none;
	font-weight: $normal;
	color: $astro__green;
	transition: $ease;

	&:visited {
		color: $astro__green;
	}
	&:hover,
	&:focus,
	&:active {
		color: $astro__greenlight;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	.site-header &,
	.site-footer & {
		color: $elijah__snow;

		&:visited {
			color: $elijah__snow;
		}
	}
}
