.main-navigation {
	.drawer {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: -20vw;
		width: 20vw;
		background-color: $elijah__snow;
		border-right: 1px solid transparentize( $starless, 0.8 );
		transition: $ease;
		z-index: 4;
	}

	.overlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparentize( $starless, 0.5 );
		visibility: hidden;
		transition: $ease;
		z-index: 3;
	}

	ul {
		display: block;
		list-style: none;
		width: 100%;
		margin: 0;
		padding-left: 0;

		ul {			
			li {
				&:hover > ul,
				&.focus > ul {
				}
			}

			a {
				padding: 10px 0 10px 32px;
				font-weight: $normal;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	> ul {
		padding: 12px 0 40px;
	}

	li {
		position: relative;
		width: 100%;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		padding: 15px 0 15px 22px;
		text-decoration: none;
		@include font-size(0.8);
		font-weight: $bold;
		color: $ashes;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&.toggled {
		.drawer {
			left: 0;
		}

		.overlay {
			visibility: visible;
		}
	}
}

/* Small menu. */
.menu-toggle {
	position: fixed;
	top: 12px;
	left: 12px;
	height: $width__button * 0.6;
	width: $width__button * 0.6;
	background-color: transparent;
	z-index: 2;
	@include admin-sticky-fix();

	.menu-icon {
		@include center-absolute-y();		
		right: 20%;
		height: 3px;
		width: 60%;
		background-color: $elijah__snow;
	    transition: $ease;

	    &:before,
	    &:after {
	    	content: '';
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
	    	transition: $ease;
	    	background-color: $elijah__snow;
	    }

	    &:before {
			top: -8px;
		}

		&:after {
			bottom: -8px;
		}		
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

@media #{$resolution__phone} { 
	.main-navigation {
		.drawer {
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: -75vw;
			width: 75vw;  
		}
	}
}
